<h2 mat-dialog-title appFontSizeDirective fontSize="30px" >{{title}}</h2>
<div mat-dialog-content>
  <form [formGroup]="studentForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput />
          <mat-error>{{
            nameControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput />
          <mat-error>{{
            lastNameControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input formControlName="birthDate" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>{{
            birthDateControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
          <mat-error>{{
            emailControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Direccion</mat-label>
          <input formControlName="adreess" matInput />
          <mat-error>{{
            adreessControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Localidad</mat-label>
          <mat-select formControlName="localidad" [compareWith]="compareLocalidad">
            <mat-option *ngFor="let loca of localidades" [value]="loca">
                {{ loca.nombre }}
            </mat-option>
          </mat-select>
          <mat-error>{{
            localidadControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button mat-button (click)="onSave()" >Guardar</button>
</div>
