<h2 mat-dialog-title appFontSizeDirective fontSize="30px" >{{title}}</h2>
<div mat-dialog-content>
  <form [formGroup]="courseForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput />
          <mat-error>{{
            nameControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <input formControlName="description" matInput />
          <mat-error>{{
            descriptionControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Profesor</mat-label>
          <mat-select formControlName="teacher" [compareWith]="compareTeacher">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher">
                {{ teacher | fullNamePipe }}
            </mat-option>
          </mat-select>
          <mat-error>{{
            teacherControl?.errors | formFieldValidationErrors
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button mat-button (click)="onSave()" >Guardar</button>
</div>
