<div class="d-flex justify-content-end mb-3">
    <button (click)="openDialog()" mat-flat-button color="primary" >
        Agregar Alumno
    </button>
</div>
<table mat-table [dataSource]="students" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">No.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">Apellido y Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element | fullNamePipe }}</td>
    </ng-container>
  
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">Fecha Nacimiento</th>
      <td mat-cell *matCellDef="let element">{{ element.birthDate | date:"dd-MM-yyyy" }}</td>
    </ng-container>
  
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
  
    <ng-container matColumnDef="adreess">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">Direccion</th>
      <td mat-cell *matCellDef="let element">{{ element.adreess }}</td>
    </ng-container>
    
    <ng-container matColumnDef="localidad">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">Localidad</th>
      <td mat-cell *matCellDef="let element">{{ element.localidad.nombre }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef appFontSizeDirective fontSize="20px">Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openDialog(element)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onDeleteStudent(element.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
