<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer  class="example-sidenav" 
  [opened]="!isMobile()"
  [mode]="isMobile()?'over':'side'">
   <button #boton (click)="showStudentsCRUD = !showStudentsCRUD" mat-raised-button>
      Alumnos
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar">
        <button (click)="drawer.toggle()"
            mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Gestion Alumnos</span>
    </mat-toolbar>
    <main class="main">
      <app-students-table [visible]="showStudentsCRUD"></app-students-table>
    </main>
  </div>
</mat-drawer-container>
